.card-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 10px;
  background-color: rgba(200, 194, 153, 0.4);
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em;
}

